/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Sep 14, 2023, 11:23:47 PM
    Author     : user
*/

.title{
    font-family: Garamond,Baskerville,Caslon,serif;
}

.container{
    max-width: 900px;
}


