/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Sep 15, 2023, 9:55:17 PM
    Author     : user
*/
/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Sep 14, 2023, 11:23:47 PM
    Author     : user
*/

.title{
    font-family: Garamond,Baskerville,Caslon,serif;
    padding-left: 33px;
}

.container{
    max-width: 900px;
}

.card{
    width: 25rem;
}

.content{
    padding: 60px 20px 0px 20px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #88694e;
  overflow-x: hidden;
  transition: 0.5s;
  color: #ffff;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.input{
    border-radius: 10px;
}

.btn-lg{
    width: 250px;
    height: 50px;
    border-radius: 1.3rem !important;
    background-color: white;
}

.btn:hover{
    background-color:#88694e;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-primary{
    border-radius: 0.7rem !important;
    background-color: #88694e !important;
    border-color: transparent !important;
}

@media screen and (max-width: 767px){
    
    .card{
        width: 20rem;
    }
   
}
